body {
    font-size: 60px;
    font-family: Arial, sans-serif;
    background-color: #FF5B24;
    color: white
}

.allowCookies {
    width: 100%;
    background-color: rgba(100,200,100,30);
}
.allowCookieClick {
    text-decoration: underline;
    cursor: pointer;
}